.about {
  display: flex;
  min-height: 75vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 3.5rem 1.5rem 3.5rem;
}
.about img {
  width: 10rem;
  border: 1px solid var(--sumplementary);
  margin-bottom: 2rem;
}
.about h2,
.about h4 {
  color: var(--primary);
}

.about aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  text-align: justify;
}

.about__containerInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 68%;
}

.about__containerInfo article {
  width: 100%;
  text-align: justify;
}

.about__containerInfo p {
  margin-bottom: 1rem;
}

.about__externalsLinks {
  text-decoration: none;
  color: #0b81b7;
  font-weight: bold;
}
.about__showHideText {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: var(--primary);
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--p__hover);
}
