* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

main {
  box-shadow: 4px 6px 6px rgb(185, 177, 177);
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.circle__image {
  border-radius: 50%;
  width: min(17rem);
  height: min(17rem);
}
